{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweedsies</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>
<body>
        <nav class="nav">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                {% if user.is_authenticated == False %}
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock content %}
    <div class="footer">
        <p>tweedsies.com</p>
    </div>
</body>
</html>