{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %} 
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <a href="{% url 'signup' %}">Signup</a>
        </div>
    </main>
{% endblock content %}
