{% extends "base.html" %}

{% block content %}
    <main>
        <div class="side-bar">
            <img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/front-facing-baby-chick.png" alt="" class="avator">
        </div>
        <div class="feed">
            <h1>Home</h1>
            <div>
                <form method="post" action="{% url 'create_post' %}">
                    {% csrf_token %} {{ form.as_p }}
                    <div>
                    <input
                        type="text"
                        name="post_text"
                        placeholder="What's going on?"
                    />
                    <button>Post</button>
                    </div>
                </form>
            </div>
            
            {% for post in post_list %}
            <div class="tweet-wrap">
                <div class="tweet-post">
                <img src="https://www.nicepng.com/png/detail/202-2024580_png-file-profile-icon-vector-png.png" alt="" class="avator">
                <div class="tweet-post-info">
                    {{ post.owner }} <span>@{{ post.owner }}</span><span>. {{ post.created }}</span>
                    <p>{{ post.text }}</p>
                </div>
                </div>
                <div class="tweet-comment">
                    <form method="post" action="{% url 'create_comment' %}">
                        {% csrf_token %} {{ form.as_p }}
                        <div>
                            <input
                            type="text"
                            name="comment_text"
                            placeholder="Care to comment?"
                            />
                            <input
                            type="hidden"
                            name="feed_post_id"
                            value="{{ post.id }}"
                            />
                            <button>Comment</button>
                        </div>
                    </form>
                    <div class="tweet-comment-wrap">
                        {% for comment in post.comments.all %}
                        <div class="tweet-comment-info">
                            <p>
                                <img src="http://clipart-library.com/new_gallery/70-705972_cute-clipart-baby-chicken-baby-chick-easter-cartoon.png" alt="" class="avator">
                                {{ comment.text }}</p>
                            {{ comment.owner }} <span>@{{ comment.owner }}</span><span>. {{ comment.updated }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}