@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}


body {
    /* background: #e6ecf0; */
    font-family: 'Asap', sans-serif;
    font-family: 'Roboto', sans-serif;

    color: #0c1013;
    background: #e6ecf0;

    height:100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.nav {
    height:5%;
}

main {
    display: flex;
    height:90%;
}

.footer {
    height:5%;
}

.avator {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
}

.side-bar {
    border-right: 1px solid blue;
    flex: 0.2;

    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.feed {
    flex: 0.8;
    border-right: 1px solid blueviolet;
    min-width: fit-content;
    overflow-y: scroll;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.tweet-wrap {
    max-width: 490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    width:100%;
}

.tweet-post {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
}

.tweet-post-info span {
    color: #657786;
    font-weight: normal;
    margin-left: 5px;
}

.tweet-post-info p {
    font-weight: normal;
    margin-top: 5px;

}

.tweet-comment {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    background: lightgray;
}

.tweet-comment-wrap {
    padding: 15px;
}

.tweet-comment-info {
    background: #dae2e9;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.tweet-comment-info span {
    color: #657786;
    font-weight: normal;
    margin-left: 5px;
}

.tweet-comment-info .avator {
    width: 20px;
}